.Header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    line-height: 100px;

    background: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.Header .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Header .inner>* {
    flex: 1;
}

.Header .inner a img {
    width: 200px;
}

.Header .inner .gnb .depth1 {
    display: flex;
    gap: 40px;
    white-space: nowrap;
}


.Header .inner .util {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
}

.MainVisual .main_visual_slide {}

.MainVisual .main_visual_slide .itm {
    position: relative;
    height: 100vh;
}

.MainVisual .main_visual_slide .itm .slide_img {
    position: absolute;
    inset: 0 0 0 0;
    height: 100vh;
}

.MainVisual .main_visual_slide .itm01 .slide_img {
    background: url(../images/mainVisual_001.jpg)no-repeat center center/cover;
}

.MainVisual .main_visual_slide .itm02 .slide_img {
    background: url(../images/mainVisual_002.jpg)no-repeat center center/cover;
}