.Header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    line-height: 100px;

    background: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.Header.on {
    color:#FFF;
    background: #383c5b;
    line-height: 70px;
}


.Header .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Header .inner>* {
    flex: 1;
}

.Header .inner a img {
    width: 200px;
}

.Header .inner .gnb .depth1 {
    display: flex;
    gap: 40px;
    white-space: nowrap;
    font-size: 18px;
    font-weight: 600;
    color: #FFF;
}


.Header .inner .util {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
    font-size: 18px;
    color: #fff;
}

.MainVisual .main_visual_slide {}

.MainVisual .main_visual_slide .itm {
    position: relative;
    height: 100vh;
}


.MainVisual .main_visual_slide .itm01 {
    background: url(../images/mainVisual_001.jpg)no-repeat center center/cover;
}


.MainVisual .main_visual_slide .itm02 {
    background: url(../images/mainVisual_002.jpg)no-repeat center center/cover;
}

.MainVisual .main_visual_slide .itm  .slogan {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    max-width: 1200px;
    width: 100%;
}

.MainVisual .main_visual_slide .slogan p {
    font-size: 36px;
    line-height: 40px;
    font-weight: 700;
    margin: 0 0 32px 0;
    color: #fff;
    text-shadow: 1px 1px 2px #222;
}

.MainVisual .main_visual_slide .slogan span {
    font-size: 18px;
    display: inline-block;
    padding: 16px 32px;
    border: 2px solid #fff;
    border-radius: 50px;
    color: var(--mc);
    margin: 0 0 32px 0;
    color: #fff;
    text-shadow: 1px 1px 2px #222;
}

.MainVisual .main_slide_arrows {
    position: absolute;
    top: 400px;
    left: 50%;
    transform: translate(-50%, -50%);

    max-width: 1600px;
    width: 100%;
}

.MainVisual .main_slide_arrows i {
    position: absolute;
    top: 0;
    font-size: 50px;
    color: #fff;
    text-shadow: 1px 1px 2px #222;
    cursor: pointer;

}

.MainVisual .main_slide_arrows .left {
    left: 0;
}

.MainVisual .main_slide_arrows .right {
    right: 0;
}


.MainTab  .tit_area {
    margin: 0 0 40px 0;
}

.MainTab  .tit_area .main_tab {
    display: flex;
    gap: 40px;
    margin: 0 0 24px 0;
    justify-content: center;
    align-items: center;
}

.MainTab  .tit_area .main_tab li {
    border: 1px solid #003865;
    border-radius: 16px;
    padding: 8px 16px;
}

.MainTab  .tit_area .main_tab li:hover {
    background: #003865;
    color: #fff;
    transition: 0.5s;
}

.MainTab  .tit_area .main_tab li a {
    font-size: 18px;
    font-weight: 500;
}

.MainTab  .tab_inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.MainTab  .tab_inner figure {
    display: flex;
    align-items: end;
}

.MainTab  .tab_inner figure a img {
    width: 240px;
    height: 300px;
    overflow: hidden;
}

.MainTab  .tab_inner .txt_box {
    text-align: left;
    padding: 0 30px 0 30px;
}

.MainTab  .tab_inner .txt_box strong {
    display: block;
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 8px 0;
}

.MainTab  .tab_inner .txt_box span {
    display: block;
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 16px 0;
}

.MainTab  .tab_inner .txt_box p {
    font-size: 16px;
    margin: 0 0 32px 0;
}

.MainTab  .tab_inner .txt_box .default_btn span {
    margin: 0;
}

.tab_content .content {
    display: none;
}

.tab_content .content.on {
    display: block;
}


.Footer {
    padding: 50px 0 70px 0;
    background: #383c5b;
    color: #f4f4f4;
}

.Footer  .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Footer  .content_box {
    width: 500px;
}

.Footer  .customer_area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 32px 0;
}

.Footer .customer_area ul {
    display: flex;
    gap: 20px;
}

.Footer  .customer_area ul>li a {
    font-size: 16px;
    font-weight: 500;
}

.Footer  .address_wrap {
    margin: 0 0 32px 0;

}

.Footer .address_wrap ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0 0 8px 0;
}


.Footer .address_wrap ul>li {
    font-size: 14px;
    position: relative;
}


.Footer .address_wrap ul>li~li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -10px;
    width: 2px;
    height: 8px;
    background: #8d8d8d;

    transform: translate(-50%, -50%);
}


.Footer p {
    font-size: 12px;
}

.Footer .customer_link {
    margin: 0 auto;
    display: flex;
}

.Footer .customer_link .lnk {
    display: block;
    padding: 5px 20px;
    background: #767475;
    font-size: 14px;
    line-height: 60px;
    color: #f4f4f4;
    border: none;
    outline: none;
}